:root {
  --body-font-family: "Jost", sans-serif;
  --heading-font-family: "Montserrat", sans-serif;
  --h1-font-size: 4.5rem;
  --h1-font-size-mob: 2.5rem;
  --h2-font-size: 3.5rem;
  --h2-font-size-mob: 2.5rem;
  --h3-font-size: 1.95rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;
  --headings-font-weight-h1: 600;
  --headings-font-weight-h2: 600;
  --headings-font-weight-h3: 600;
  --headings-font-weight-h4: 600;
  --headings-font-weight-h5: 500;
  --headings-font-weight-h6: 500;
  --section-title-color: var(--headings-color);
  --section-title-font-size: 6.25rem;
  --section-title-line-height: 1.1;
  --section-title-text-transform: uppercase;
  --section-title-font-family: var(--heading-font-family);
  --section-title-font-weight: var(--headings-font-weight-h2);
  --section-title-subtitle-color: #6d6c74;
  --section-title-subtitle-font-size: 13px;
  --section-title-subtitle-line-height: 1.4;
  --section-title-subtitle-font-family: var(--heading-font-family);
  --section-title-subtitle-font-weight: 700;
}