/*
 * Current Theme Style
 * -----------------------------------------------
*/
.btn-style-one {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  position: relative;
  @include transition(all 300ms ease);

  &:hover {
    .left-arrow {
      scale: 1;
    }
    .right-arrow {
      scale: 0;
    }
    .btn-title {
      @include transform(translateX(46px));
    }
  }

  .left-arrow,
  .right-arrow {
    width: 46px;
    height: 46px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: #000000;
    border-radius: 50%;
    @include transition(all 300ms ease);
    i {
      rotate: -30deg;
      @include transition(all 300ms ease);
    }
  }

  .left-arrow {
    scale: 0;
    left: 0;
    right: auto;
    position: absolute;
  }
  .btn-title {
    background: var(--theme-color1);
    color: var(--theme-color1-text-color);
    font-weight: 700;
    font-size: 16px;
    padding: 8px 30px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    border-radius: 40px;
    @include transition(all 300ms ease);
  }
}
.e-font-icon-svg {
  width: 14px;
}
.blur-effect {
  backdrop-filter: blur(10px);
}
