@font-face {
  font-family: 'mascot-arrow';
  src:  url('fonts/mascot-arrow.eot?u5i1zo');
  src:  url('fonts/mascot-arrow.eot?u5i1zo#iefix') format('embedded-opentype'),
    url('fonts/mascot-arrow.ttf?u5i1zo') format('truetype'),
    url('fonts/mascot-arrow.woff?u5i1zo') format('woff'),
    url('fonts/mascot-arrow.svg?u5i1zo#mascot-arrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mascot-arrow-"], [class*=" mascot-arrow-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mascot-arrow' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mascot-arrow-double:before {
  content: "\f150";
}
.mascot-arrow-double2:before {
  content: "\f13d";
}
.mascot-arrow-three:before {
  content: "\f14b";
}
.mascot-arrow-up4:before {
  content: "\f144";
}
.mascot-arrow-circle-up:before {
  content: "\f110";
}
.mascot-arrow-circle-right:before {
  content: "\f129";
}
.mascot-arrow-triangle-right:before {
  content: "\f12d";
}
.mascot-arrow-down4:before {
  content: "\f15a";
}
.mascot-arrow-triangle-up:before {
  content: "\f111";
}
.mascot-arrow-triangle-left:before {
  content: "\f148";
}
.mascot-arrow-swap:before {
  content: "\f14f";
}
.mascot-arrow-left4:before {
  content: "\f145";
}
.mascot-arrow-refresh:before {
  content: "\f131";
}
.mascot-arrow-right4:before {
  content: "\f126";
}
.mascot-arrow-left-right2:before {
  content: "\f13f";
}
.mascot-arrow-triangle-down:before {
  content: "\f15d";
}
.mascot-arrow-uniF164:before {
  content: "\f164";
}
.mascot-arrow-circle-down:before {
  content: "\f15e";
}
.mascot-arrow-circle-left:before {
  content: "\f149";
}
.mascot-arrow-down-left:before {
  content: "\f100";
}
.mascot-arrow-down-right:before {
  content: "\f101";
}
.mascot-arrow-down:before {
  content: "\f102";
}
.mascot-arrow-left:before {
  content: "\f103";
}
.mascot-arrow-right:before {
  content: "\f104";
}
.mascot-arrow-upper-left:before {
  content: "\f109";
}
.mascot-arrow-upper-right:before {
  content: "\f10a";
}
.mascot-arrow-upper:before {
  content: "\f10b";
}
.mascot-arrow-chevron-down:before {
  content: "\f116";
}
.mascot-arrow-chevron-left:before {
  content: "\f117";
}
.mascot-arrow-chevron-right:before {
  content: "\f118";
}
.mascot-arrow-chevron-upper-left:before {
  content: "\f119";
}
.mascot-arrow-chevron-upper-right:before {
  content: "\f11a";
}
.mascot-arrow-chevron-upper:before {
  content: "\f11b";
}
.mascot-arrow-chevron-double-down:before {
  content: "\f11e";
}
.mascot-arrow-chevron-double-left:before {
  content: "\f11f";
}
.mascot-arrow-chevron-double-right:before {
  content: "\f120";
}
.mascot-arrow-chevron-double-upperleft:before {
  content: "\f121";
}
.mascot-arrow-chevron-double-upperright:before {
  content: "\f122";
}
.mascot-arrow-chevron-double-up:before {
  content: "\f123";
}
.mascot-arrow-swap1:before {
  content: "\f140";
}
.mascot-arrow-swap2:before {
  content: "\f147";
}
.mascot-arrow-turn:before {
  content: "\f105";
}
.mascot-arrow-upper-left2:before {
  content: "\f106";
}
.mascot-arrow-5010644:before {
  content: "\f107";
}
.mascot-arrow-down-right2:before {
  content: "\f108";
}
.mascot-arrow-upper-right2:before {
  content: "\f10c";
}
.mascot-arrow-down2:before {
  content: "\f10d";
}
.mascot-arrow-download1:before {
  content: "\f10e";
}
.mascot-arrow-download2:before {
  content: "\f10f";
}
.mascot-arrow-left-right:before {
  content: "\f112";
}
.mascot-arrow-right-long:before {
  content: "\f11c";
}
.mascot-arrow-left-long:before {
  content: "\f11d";
}
.mascot-arrow-right-short:before {
  content: "\f175";
}
.mascot-arrow-chevron-up3:before {
  content: "\f115";
}
.mascot-arrow-left-short:before {
  content: "\f178";
}
.mascot-arrow-uniF176:before {
  content: "\f176";
}
.mascot-arrow-chevron-left3:before {
  content: "\f143";
}
.mascot-arrow-chevron-right3:before {
  content: "\f125";
}
.mascot-arrow-down-short:before {
  content: "\f17b";
}
.mascot-arrow-right-down2:before {
  content: "\f177";
}
.mascot-arrow-uniF159:before {
  content: "\f159";
}
.mascot-arrow-uniF152:before {
  content: "\f152";
}
.mascot-arrow-up-left3:before {
  content: "\f179";
}
.mascot-arrow-up-short:before {
  content: "\f174";
}
.mascot-arrow-right-left2:before {
  content: "\f17a";
}
.mascot-arrow-up-right2:before {
  content: "\f128";
}
.mascot-arrow-chevron-right2:before {
  content: "\f192";
}
.mascot-arrow-left-short2:before {
  content: "\f12a";
}
.mascot-arrow-right-down:before {
  content: "\f14c";
}
.mascot-arrow-down-short2:before {
  content: "\f1a4";
}
.mascot-arrow-chevron-left2:before {
  content: "\f12b";
}
.mascot-arrow-chevron-double-right2:before {
  content: "\f162";
}
.mascot-arrow-up-left:before {
  content: "\f12c";
}
.mascot-arrow-chevron-down2:before {
  content: "\f12e";
}
.mascot-arrow-right-left:before {
  content: "\f12f";
}
.mascot-arrow-right-short2:before {
  content: "\f130";
}
.mascot-arrow-up-short2:before {
  content: "\f1a6";
}
