/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
:root {
  --theme-color1: #fd5b38;
  --theme-color1-rgb: 253, 91, 56;
  --theme-color1-lighter: #fe8970;
  --theme-color1-darker: #fa2f03;
  --theme-color2: #121419;
  --theme-color2-rgb: 18, 20, 25;
  --theme-color2-lighter: #292e3a;
  --theme-color2-darker: black;
  --theme-color3: #ffaa17;
  --theme-color3-rgb: 255, 170, 23;
  --theme-color3-lighter: #ffbf4f;
  --theme-color3-darker: #de8d00;
  --theme-color4: #d9f45f;
  --theme-color4-rgb: 217, 244, 95;
  --theme-color4-lighter: #e5f893;
  --theme-color4-darker: #cdf02b;
  --gradient-1: linear-gradient(to right, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.37) 100%);
  --gradient-2: linear-gradient(to left, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.7) 100%);
  --gradient-3: linear-gradient(-135deg, rgba(23, 23, 23, 0) 50%, var(--theme-color1) 100%);
  --theme-color1-text-color: #0f0b19;
  --theme-color2-text-color: #fff;
  --theme-color3-text-color: #0f0b19;
  --theme-color4-text-color: #0f0b19;
  --hover-theme-color: #fd5b38;
  --footer-default-theme-color: var(--theme-color3);
  --footer-default-hover-theme-color: var(--theme-color3);
  --footer-default-text-color-on-bg-theme-color: var(--theme-color3-text-color);
}

/*
 * border: theme-color
 * -----------------------------------------------
*/
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid var(--theme-color1);
}

.hr-divider {
  border-top-color: rgba(253, 91, 56, 0.2) !important;
}

/* -------- Text Theme Color ---------- */
.text-theme-colored1 {
  color: var(--theme-color1) !important;
}

.text-theme-colored2 {
  color: var(--theme-color2) !important;
}

.text-theme-colored3 {
  color: var(--theme-color3) !important;
}

.text-theme-colored4 {
  color: var(--theme-color4) !important;
}

.bg-theme-colored1 {
  background-color: var(--theme-color1) !important;
}

.bg-theme-colored2 {
  background-color: var(--theme-color2) !important;
}

.bg-theme-colored3 {
  background-color: var(--theme-color3) !important;
}

.bg-theme-colored4 {
  background-color: var(--theme-color4) !important;
}

.border-theme-colored1 {
  border-color: var(--theme-color1) !important;
}

.border-theme-colored2 {
  border-color: var(--theme-color2) !important;
}

.border-theme-colored3 {
  border-color: var(--theme-color3) !important;
}

.border-theme-colored4 {
  border-color: var(--theme-color4) !important;
}

/*
 * blog-single.scss
 * -----------------------------------------------
*/
/*
 * Shortcode: blog.scss
 * -----------------------------------------------
*/
.tm-sc-blog.blog-classic article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-content .post-btn-readmore {
  border-color: var(--theme-color1);
  background-color: #fff;
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore {
  background-color: var(--theme-color1);
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore .btn-plain-text-with-arrow:after {
  color: #fff;
}
.tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+1) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+3) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+6) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+8) article .post-thumb .post-thumb-inner .thumb:after {
  background-color: rgba(253, 91, 56, 0.94);
}

/*
 * Shortcode: buttons.scss
 * -----------------------------------------------
*/
.btn-theme-colored1 {
  --bs-btn-color: #000;
  --bs-btn-bg: #fd5b38;
  --bs-btn-border-color: #fd5b38;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fd7456;
  --bs-btn-hover-border-color: #fd6b4c;
  --bs-btn-focus-shadow-rgb: 215, 77, 48;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fd7c60;
  --bs-btn-active-border-color: #fd6b4c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fd5b38;
  --bs-btn-disabled-border-color: #fd5b38;
}

.btn-theme-colored2 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #121419;
  --bs-btn-border-color: #121419;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0f1115;
  --bs-btn-hover-border-color: #0e1014;
  --bs-btn-focus-shadow-rgb: 54, 55, 60;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0e1014;
  --bs-btn-active-border-color: #0e0f13;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #121419;
  --bs-btn-disabled-border-color: #121419;
}

.btn-theme-colored3 {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffaa17;
  --bs-btn-border-color: #ffaa17;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffb73a;
  --bs-btn-hover-border-color: #ffb32e;
  --bs-btn-focus-shadow-rgb: 217, 145, 20;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffbb45;
  --bs-btn-active-border-color: #ffb32e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffaa17;
  --bs-btn-disabled-border-color: #ffaa17;
}

.btn-theme-colored4 {
  --bs-btn-color: #000;
  --bs-btn-bg: #d9f45f;
  --bs-btn-border-color: #d9f45f;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #dff677;
  --bs-btn-hover-border-color: #ddf56f;
  --bs-btn-focus-shadow-rgb: 184, 207, 81;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #e1f67f;
  --bs-btn-active-border-color: #ddf56f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #d9f45f;
  --bs-btn-disabled-border-color: #d9f45f;
}

.btn-outline-theme-colored1 {
  --bs-btn-color: #fd5b38;
  --bs-btn-border-color: #fd5b38;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fd5b38;
  --bs-btn-hover-border-color: #fd5b38;
  --bs-btn-focus-shadow-rgb: 253, 91, 56;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fd5b38;
  --bs-btn-active-border-color: #fd5b38;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fd5b38;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fd5b38;
  --bs-gradient: none;
}

.btn-outline-theme-colored2 {
  --bs-btn-color: #121419;
  --bs-btn-border-color: #121419;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #121419;
  --bs-btn-hover-border-color: #121419;
  --bs-btn-focus-shadow-rgb: 18, 20, 25;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #121419;
  --bs-btn-active-border-color: #121419;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #121419;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #121419;
  --bs-gradient: none;
}

.btn-outline-theme-colored3 {
  --bs-btn-color: #ffaa17;
  --bs-btn-border-color: #ffaa17;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffaa17;
  --bs-btn-hover-border-color: #ffaa17;
  --bs-btn-focus-shadow-rgb: 255, 170, 23;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffaa17;
  --bs-btn-active-border-color: #ffaa17;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffaa17;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffaa17;
  --bs-gradient: none;
}

.btn-outline-theme-colored4 {
  --bs-btn-color: #d9f45f;
  --bs-btn-border-color: #d9f45f;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d9f45f;
  --bs-btn-hover-border-color: #d9f45f;
  --bs-btn-focus-shadow-rgb: 217, 244, 95;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #d9f45f;
  --bs-btn-active-border-color: #d9f45f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9f45f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d9f45f;
  --bs-gradient: none;
}

.btn-theme-colored1 {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:hover, .btn-theme-colored1:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:before {
  background-color: var(--theme-color2);
}

.btn-theme-colored2 {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:hover, .btn-theme-colored2:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:before {
  background-color: var(--theme-color1);
}

.btn-theme-colored3 {
  color: var(--theme-color3-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-theme-colored3:hover, .btn-theme-colored3:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}

.btn-theme-colored4 {
  color: var(--theme-color4-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}
.btn-theme-colored4:hover, .btn-theme-colored4:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}

.btn-theme-colored3:before,
.btn-theme-colored4:before,
.btn-outline-theme-colored3:before,
.btn-outline-theme-colored3:before {
  background: var(--theme-color1);
}

.btn-outline-theme-colored1 {
  color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-outline-theme-colored1:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored2 {
  color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-outline-theme-colored2:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored3 {
  color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-outline-theme-colored3:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

input[type=submit].btn-theme-colored1:hover, input[type=submit].btn-theme-colored1:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
}

input[type=submit].btn-theme-colored2:hover, input[type=submit].btn-theme-colored2:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored3:hover, input[type=submit].btn-theme-colored3:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored4:hover, input[type=submit].btn-theme-colored4:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

.btn-light:before,
.btn-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-light:hover, .btn-light:focus,
.btn-dark:hover,
.btn-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-light:hover:before, .btn-light:focus:before,
.btn-dark:hover:before,
.btn-dark:focus:before {
  background-color: var(--theme-color2);
}

.btn-outline-light {
  color: #fff;
}

.btn-outline-light:hover,
.btn-outline-dark:hover {
  background-color: transparent;
}
.btn-outline-light:before,
.btn-outline-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-outline-light:hover, .btn-outline-light:focus,
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-outline-light:hover:before, .btn-outline-light:focus:before,
.btn-outline-dark:hover:before,
.btn-outline-dark:focus:before {
  background-color: var(--theme-color2);
}

/*
 * shop.scss
 * -----------------------------------------------
*/
/*
 * shop-common
 * -----------------------------------------------
*/
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]),
.woosc_table .button,
.woosc_table .added_to_cart,
.woosw-item .added_to_cart {
  --bs-btn-color: #000;
  --bs-btn-bg: #fd5b38;
  --bs-btn-border-color: #fd5b38;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fd7456;
  --bs-btn-hover-border-color: #fd6b4c;
  --bs-btn-focus-shadow-rgb: 215, 77, 48;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fd7c60;
  --bs-btn-active-border-color: #fd6b4c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fd5b38;
  --bs-btn-disabled-border-color: #fd5b38;
  color: var(--theme-color1-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):hover,
.woosc_table .button:hover,
.woosc_table .added_to_cart:hover,
.woosw-item .added_to_cart:hover {
  color: var(--theme-color3-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):focus,
.woosc_table .button:focus,
.woosc_table .added_to_cart:focus,
.woosw-item .added_to_cart:focus {
  color: var(--theme-color3-text-color);
  box-shadow: none;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled,
.woosc_table .button:disabled,
.woosc_table .button.disabled,
.woosc_table .added_to_cart:disabled,
.woosc_table .added_to_cart.disabled,
.woosw-item .added_to_cart:disabled,
.woosw-item .added_to_cart.disabled {
  color: var(--theme-color1-text-color);
  opacity: 0.5;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled:hover, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled:hover,
.woosc_table .button:disabled:hover,
.woosc_table .button.disabled:hover,
.woosc_table .added_to_cart:disabled:hover,
.woosc_table .added_to_cart.disabled:hover,
.woosw-item .added_to_cart:disabled:hover,
.woosw-item .added_to_cart.disabled:hover {
  color: var(--theme-color3-text-color);
}

/*
 *  common.scss
 * -----------------------------------------------
*/
.scroll-to-top a {
  background-image: linear-gradient(to right, #fd5b38 0%, #fe937c 51%, #fd5b38 100%);
}
.scroll-to-top a:hover {
  box-shadow: 0 10px 20px rgba(253, 91, 56, 0.5);
  background-position: right center;
}