/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
:root {
  --theme-color1: #d9f45f;
  --theme-color1-rgb: 217, 244, 95;
  --theme-color1-lighter: #e5f893;
  --theme-color1-darker: #cdf02b;
  --theme-color2: #121419;
  --theme-color2-rgb: 18, 20, 25;
  --theme-color2-lighter: #292e3a;
  --theme-color2-darker: black;
  --theme-color3: #baff39;
  --theme-color3-rgb: 186, 255, 57;
  --theme-color3-lighter: #ceff71;
  --theme-color3-darker: #a6ff01;
  --theme-color4: #88ff2a;
  --theme-color4-rgb: 136, 255, 42;
  --theme-color4-lighter: #a7ff62;
  --theme-color4-darker: #6af100;
  --gradient-1: linear-gradient(90deg, #88ff2a 0%, #fff 100%);
  --gradient-2: linear-gradient(to left, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.7) 100%);
  --gradient-3: linear-gradient(180deg, var(--theme-color1) 0%, rgba(0, 0, 0, 0) 100%);
  --gradient-4: linear-gradient(180deg, rgba(217, 244, 95, 0) 0%, rgba(217, 244, 95, 0.5) 100%);
  --gradient-5: linear-gradient(180deg, var(--theme-color1) 0%, rgba(126, 142, 55, 0) 100%);
  --gradient-6: linear-gradient(180deg, #0a0a0a 0%, rgba(10, 10, 10, 0.3) 45%, #0a0a0a 90%);
  --gradient-7: linear-gradient(180deg, rgba(217, 244, 95, 0.7) 37.5%, rgba(255, 212, 212, 0) 100%);
  --theme-color1-text-color: #0f0b19;
  --theme-color2-text-color: #fff;
  --theme-color3-text-color: #0f0b19;
  --theme-color4-text-color: #0f0b19;
  --hover-theme-color: #d9f45f;
  --footer-default-theme-color: var(--theme-color1);
  --footer-default-hover-theme-color: var(--theme-color1);
  --footer-default-text-color-on-bg-theme-color: var(--theme-color1-text-color);
}

/*
 * border: theme-color
 * -----------------------------------------------
*/
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid var(--theme-color1);
}

.hr-divider {
  border-top-color: rgba(217, 244, 95, 0.2) !important;
}

/* -------- Text Theme Color ---------- */
.text-theme-colored1 {
  color: var(--theme-color1) !important;
}

.text-theme-colored2 {
  color: var(--theme-color2) !important;
}

.text-theme-colored3 {
  color: var(--theme-color3) !important;
}

.text-theme-colored4 {
  color: var(--theme-color4) !important;
}

.bg-theme-colored1 {
  background-color: var(--theme-color1) !important;
}

.bg-theme-colored2 {
  background-color: var(--theme-color2) !important;
}

.bg-theme-colored3 {
  background-color: var(--theme-color3) !important;
}

.bg-theme-colored4 {
  background-color: var(--theme-color4) !important;
}

.border-theme-colored1 {
  border-color: var(--theme-color1) !important;
}

.border-theme-colored2 {
  border-color: var(--theme-color2) !important;
}

.border-theme-colored3 {
  border-color: var(--theme-color3) !important;
}

.border-theme-colored4 {
  border-color: var(--theme-color4) !important;
}

/*
 * blog-single.scss
 * -----------------------------------------------
*/
/*
 * Shortcode: blog.scss
 * -----------------------------------------------
*/
.tm-sc-blog.blog-classic article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-header .post-single-meta {
  background: var(--theme-color1);
}
.tm-sc-blog.blog-modern article .entry-content .post-btn-readmore {
  border-color: var(--theme-color1);
  background-color: #fff;
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore {
  background-color: var(--theme-color1);
}
.tm-sc-blog.blog-modern article:hover .entry-content .post-btn-readmore .btn-plain-text-with-arrow:after {
  color: #fff;
}
.tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+1) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+3) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+6) article .post-thumb .post-thumb-inner .thumb:after, .tm-sc-blog.blog-alternative-design .isotope-layout-inner .isotope-item:not(.isotope-item-sizer):nth-child(8n+8) article .post-thumb .post-thumb-inner .thumb:after {
  background-color: rgba(217, 244, 95, 0.94);
}

/*
 * Shortcode: buttons.scss
 * -----------------------------------------------
*/
.btn-theme-colored1 {
  --bs-btn-color: #000;
  --bs-btn-bg: #d9f45f;
  --bs-btn-border-color: #d9f45f;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #dff677;
  --bs-btn-hover-border-color: #ddf56f;
  --bs-btn-focus-shadow-rgb: 184, 207, 81;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #e1f67f;
  --bs-btn-active-border-color: #ddf56f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #d9f45f;
  --bs-btn-disabled-border-color: #d9f45f;
}

.btn-theme-colored2 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #121419;
  --bs-btn-border-color: #121419;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0f1115;
  --bs-btn-hover-border-color: #0e1014;
  --bs-btn-focus-shadow-rgb: 54, 55, 60;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0e1014;
  --bs-btn-active-border-color: #0e0f13;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #121419;
  --bs-btn-disabled-border-color: #121419;
}

.btn-theme-colored3 {
  --bs-btn-color: #000;
  --bs-btn-bg: #baff39;
  --bs-btn-border-color: #baff39;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #c4ff57;
  --bs-btn-hover-border-color: #c1ff4d;
  --bs-btn-focus-shadow-rgb: 158, 217, 48;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c8ff61;
  --bs-btn-active-border-color: #c1ff4d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #baff39;
  --bs-btn-disabled-border-color: #baff39;
}

.btn-theme-colored4 {
  --bs-btn-color: #000;
  --bs-btn-bg: #88ff2a;
  --bs-btn-border-color: #88ff2a;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #9aff4a;
  --bs-btn-hover-border-color: #94ff3f;
  --bs-btn-focus-shadow-rgb: 116, 217, 36;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #a0ff55;
  --bs-btn-active-border-color: #94ff3f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #88ff2a;
  --bs-btn-disabled-border-color: #88ff2a;
}

.btn-outline-theme-colored1 {
  --bs-btn-color: #d9f45f;
  --bs-btn-border-color: #d9f45f;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d9f45f;
  --bs-btn-hover-border-color: #d9f45f;
  --bs-btn-focus-shadow-rgb: 217, 244, 95;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #d9f45f;
  --bs-btn-active-border-color: #d9f45f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9f45f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d9f45f;
  --bs-gradient: none;
}

.btn-outline-theme-colored2 {
  --bs-btn-color: #121419;
  --bs-btn-border-color: #121419;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #121419;
  --bs-btn-hover-border-color: #121419;
  --bs-btn-focus-shadow-rgb: 18, 20, 25;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #121419;
  --bs-btn-active-border-color: #121419;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #121419;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #121419;
  --bs-gradient: none;
}

.btn-outline-theme-colored3 {
  --bs-btn-color: #baff39;
  --bs-btn-border-color: #baff39;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #baff39;
  --bs-btn-hover-border-color: #baff39;
  --bs-btn-focus-shadow-rgb: 186, 255, 57;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #baff39;
  --bs-btn-active-border-color: #baff39;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #baff39;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #baff39;
  --bs-gradient: none;
}

.btn-outline-theme-colored4 {
  --bs-btn-color: #88ff2a;
  --bs-btn-border-color: #88ff2a;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #88ff2a;
  --bs-btn-hover-border-color: #88ff2a;
  --bs-btn-focus-shadow-rgb: 136, 255, 42;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #88ff2a;
  --bs-btn-active-border-color: #88ff2a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #88ff2a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #88ff2a;
  --bs-gradient: none;
}

.btn-theme-colored1 {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:hover, .btn-theme-colored1:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-theme-colored1:before {
  background-color: var(--theme-color2);
}

.btn-theme-colored2 {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:hover, .btn-theme-colored2:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-theme-colored2:before {
  background-color: var(--theme-color1);
}

.btn-theme-colored3 {
  color: var(--theme-color3-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-theme-colored3:hover, .btn-theme-colored3:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color3);
  border-color: var(--theme-color3);
}

.btn-theme-colored4 {
  color: var(--theme-color4-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}
.btn-theme-colored4:hover, .btn-theme-colored4:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color4);
  border-color: var(--theme-color4);
}

.btn-theme-colored3:before,
.btn-theme-colored4:before,
.btn-outline-theme-colored3:before,
.btn-outline-theme-colored3:before {
  background: var(--theme-color1);
}

.btn-outline-theme-colored1 {
  color: var(--theme-color1);
  border-color: var(--theme-color1);
}
.btn-outline-theme-colored1:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored2 {
  color: var(--theme-color2);
  border-color: var(--theme-color2);
}
.btn-outline-theme-colored2:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

.btn-outline-theme-colored3 {
  color: var(--theme-color3);
  border-color: var(--theme-color3);
}
.btn-outline-theme-colored3:hover {
  border-color: var(--theme-color3) !important;
  color: #fff !important;
}

input[type=submit].btn-theme-colored1:hover, input[type=submit].btn-theme-colored1:focus {
  color: var(--theme-color2-text-color);
  background-color: var(--theme-color2);
}

input[type=submit].btn-theme-colored2:hover, input[type=submit].btn-theme-colored2:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored3:hover, input[type=submit].btn-theme-colored3:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

input[type=submit].btn-theme-colored4:hover, input[type=submit].btn-theme-colored4:focus {
  color: var(--theme-color1-text-color);
  background-color: var(--theme-color1);
}

.btn-light:before,
.btn-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-light:hover, .btn-light:focus,
.btn-dark:hover,
.btn-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-light:hover:before, .btn-light:focus:before,
.btn-dark:hover:before,
.btn-dark:focus:before {
  background-color: var(--theme-color2);
}

.btn-outline-light {
  color: #fff;
}

.btn-outline-light:hover,
.btn-outline-dark:hover {
  background-color: transparent;
}
.btn-outline-light:before,
.btn-outline-dark:before {
  background-color: rgba(var(--theme-color2-rgb), 0.2);
}
.btn-outline-light:hover, .btn-outline-light:focus,
.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: var(--theme-color2-text-color);
}
.btn-outline-light:hover:before, .btn-outline-light:focus:before,
.btn-outline-dark:hover:before,
.btn-outline-dark:focus:before {
  background-color: var(--theme-color2);
}

/*
 * shop.scss
 * -----------------------------------------------
*/
/*
 * shop-common
 * -----------------------------------------------
*/
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]),
.woosc_table .button,
.woosc_table .added_to_cart,
.woosw-item .added_to_cart {
  --bs-btn-color: #000;
  --bs-btn-bg: #d9f45f;
  --bs-btn-border-color: #d9f45f;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #dff677;
  --bs-btn-hover-border-color: #ddf56f;
  --bs-btn-focus-shadow-rgb: 184, 207, 81;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #e1f67f;
  --bs-btn-active-border-color: #ddf56f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #d9f45f;
  --bs-btn-disabled-border-color: #d9f45f;
  color: var(--theme-color1-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):hover,
.woosc_table .button:hover,
.woosc_table .added_to_cart:hover,
.woosw-item .added_to_cart:hover {
  color: var(--theme-color3-text-color);
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):focus,
.woosc_table .button:focus,
.woosc_table .added_to_cart:focus,
.woosw-item .added_to_cart:focus {
  color: var(--theme-color3-text-color);
  box-shadow: none;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled,
.woosc_table .button:disabled,
.woosc_table .button.disabled,
.woosc_table .added_to_cart:disabled,
.woosc_table .added_to_cart.disabled,
.woosw-item .added_to_cart:disabled,
.woosw-item .added_to_cart.disabled {
  color: var(--theme-color1-text-color);
  opacity: 0.5;
}
.woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]):disabled:hover, .woocommerce .button:not(.compare):not(.yith-wcqv-button):not([name=apply_coupon]).disabled:hover,
.woosc_table .button:disabled:hover,
.woosc_table .button.disabled:hover,
.woosc_table .added_to_cart:disabled:hover,
.woosc_table .added_to_cart.disabled:hover,
.woosw-item .added_to_cart:disabled:hover,
.woosw-item .added_to_cart.disabled:hover {
  color: var(--theme-color3-text-color);
}

/*
 *  common.scss
 * -----------------------------------------------
*/
.scroll-to-top a {
  background-image: linear-gradient(to right, #d9f45f 0%, #e8f89f 51%, #d9f45f 100%);
}
.scroll-to-top a:hover {
  box-shadow: 0 10px 20px rgba(217, 244, 95, 0.5);
  background-position: right center;
}